<h1>Edit User</h1>

<%= form_for @user do |f| %>
  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, class: 'form-control', disabled: true %>
  </div>

  <div class="mb-3">
    <%= f.label :roles, class: 'form-label' %>
    <div class="form-check">
      <%= f.collection_check_boxes :role_ids, @roles, :id, :name do |b| %>
        <div class="form-check form-check-inline">
          <%= b.check_box(class: 'form-check-input') %>
          <%= b.label(class: 'form-check-label') %>
        </div>
      <% end %>
    </div>
  </div>

  <%= f.submit 'Update', class: 'btn btn-primary' %>
<% end %>
