<h1>Subscribe to <%= @course.title %></h1>

<%= form_with(model: [@course, @subscription], local: true) do |form| %>
  <%= form.hidden_field :course_id, value: @course.id %>
  <div>
    <%= form.submit 'Subscribe', class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back to Courses', courses_path, class: "btn btn-secondary" %>
