<div class="container mt-5">
  <h1 class="mb-4">Courses</h1>
  <div class="list-group">
    <% @courses.each do |course| %>
      <div class="list-group-item list-group-item-action course-item">
        <h5 class="mt-2"><%= link_to course.title, course %></h5> 
        <div class="d-flex justify-content-end">
          <% if current_user.has_role?(:admin) || current_user.has_role?(:moderate) %>
            <div>
              <%= link_to 'Show', course, class: "btn btn-info btn-sm" %>
              <%= link_to 'Edit', edit_course_path(course), class: "btn btn-secondary btn-sm" %>
              <%= link_to 'Delete', course_path(course), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </div>
          <% elsif !current_user.subscribed?(course) %>
            <%= link_to 'Subscribe', new_course_subscription_path(course), class: "btn btn-primary btn-sm" %>
          <% else %>
            <p class="mb-1">You are subscribed to this course.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% if current_user.has_role?(:admin) || current_user.has_role?(:moderate) %>
    <%= link_to 'New Course', new_course_path, class: "btn btn-primary d-grid gap-2 btn-lg mt-4" %>
  <% end %>
</div>
