<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1><%= @course.title %></h1>
    </div>
    <div class="card-body">
      <% if current_user.has_role?(:admin) || current_user.has_role?(:moderate) || current_user.subscribed?(@course) %>
        <p class="card-text"><%= @course.description %></p>
        <!-- Add more fields here if necessary, like videos or additional content -->
      <% else %>
        <p class="card-text">You need to subscribe to view the full content.</p>
        <%= link_to 'Subscribe', new_course_subscription_path(@course), class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="card-body">
      <h2>Comments</h2>
      <%= form_with(model: [@course, @course.comments.build], local: true) do |form| %>
        <div class="input-group">
          <span class="input-group-text"><%= current_user.first_name %></span>
          <%= form.text_area :content, class: "form-control", rows: 1, placeholder: "Write a comment..." %>
          <%= form.submit 'Add Comment', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="card-body">
      <ul>
        <% @course.comments.each do |comment| %>
          <li>
            <p><strong ><%= comment.user ? comment.user.first_name : "Unknown User" %>: </strong> <%= comment.content %></p>
            <% if comment.user == current_user %>
              <%= link_to 'Delete', course_comment_path(@course, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="card-footer text-muted d-flex justify-content-start">
      <%= button_to toggle_course_like_path(@course), remote: true, method: :post, class: "btn btn-primary me-2" do %>
        <span class="like-count"><%= @course.likes.count %></span>
        <% if current_user.liked?(@course) %>
          <i class="fas fa-heart"></i> Unlike
        <% else %>
          <i class="far fa-heart"></i> Like
        <% end %>
      <% end %>
      <% if current_user.has_role?(:admin) || current_user.has_role?(:moderate) %>
        <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-secondary me-2" %>
        <%= link_to 'Delete', course_path(@course), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger me-2" %>
      <% end %>
      <%= link_to 'Back to Courses', courses_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
